@font-face {
    font-family: "OTEnjoystoriesBA";
    src: url("../fonts/OTEnjoystoriesBA.woff2") format("woff2"),
    url("../fonts/OTEnjoystoriesBA.woff") format("woff"),
    url("../fonts/OTEnjoystoriesBA.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GmarketSansBold";
    src: url("../fonts/GmarketSansBold.woff2") format("woff2"),
    url("../fonts/GmarketSansBold.woff") format("woff"),
    url("../fonts/GmarketSansBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    ascent-override: 100%;
}

@font-face {
    font-family: "GmarketSansMedium";
    src: url("../fonts/GmarketSansMedium.woff2") format("woff2"),
    url("../fonts/GmarketSansMedium.woff") format("woff"),
    url("../fonts/GmarketSansMedium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    ascent-override: 100%;
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
        format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
        format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
        format("opentype");
    font-display: swap;
}

.ff-joy { font-family: "OTEnjoystoriesBA", system-ui, sans-serif; }
.ff-gms-b { font-family: "GmarketSansBold", system-ui, sans-serif; }
.ff-ntsk { font-family: "Noto Sans KR", system-ui, sans-serif; }