@charset "utf-8";

:root {
    --main-color : rgba(91, 35, 134, 1);
    --point-color : rgba(245, 223, 77, 1);
}
body {
    background-color: var(--main-color)
}
.ally-hidden {
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* header */
header {
    max-width: 800px;
    margin: 120px auto 0;
}
header .title-logo-box {
    max-width: 594px;
    aspect-ratio: 594 / 265;
    margin: auto;
    background-image: url('../assets/section1-clock.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .title-logo-box img {
    display: inline-block;
    animation: Movinglogo 0.4s linear 0.5s 1 normal forwards;
}

@keyframes Movinglogo {
    0%   { transform: rotate(0deg); }
    20%  { transform: rotate(-8deg); }
    40%  { transform: rotate(8deg); }
    60%  { transform: rotate(-6deg); }
    80%  { transform: rotate(6deg); }
    100% { transform: rotate(0deg); }
}

/* main section */
main {
    margin:52px 0 120px 0;
}
section {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: "GmarketSansMedium", system-ui, sans-serif;
}

/* section1 - about-section */
.about-section .wise-saying {
    font-size: 3.6rem;
    margin-bottom: 80px;
    color: var(--point-color);
}
.about-section .wise-desc-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.about-section .wise-desc-box .quote-icon-box {
    display: inline-block;
    width: 36px;
    height: 32px;
}
.quote-icon-box.left {
    background: url('../assets/quote-left.svg') no-repeat center / cover;
}
.quote-icon-box.right {
    background: url('../assets/quote-right.svg') no-repeat center / cover;
}
.about-section .wise-desc-box p {
    font-size: 1.8rem;
    color: #fff;
}
.about-section .wise-desc-box .strong {
    font-size: 2.4rem;
}

/* section2 - calculation-section*/
.calculation-section {
    margin-top: 100px;
}

/* common layout style */
.calculation-section .flexstyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.calculation-section .flex-depth {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
    font-size: 2.4rem;
    color: #fff;
}
.calculation-section .flex-depth.narrow {
    gap: 12px;
}
.calculation-section .my-job-result {
    flex-basis: 347px;
}
.calculation-section .my-job-result,
.calculation-section .my-time-result {
    font-size: 7.2rem;
    line-height: 1;
}

/* input style*/
.calculation-section input[type="text"],
.calculation-section input[type="number"] {
    width: 228px;
    height: 56px;
    line-height: 56px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 2.4rem;
    text-align: center;
    padding-top: 6px;
    font-family: "GmarketSansMedium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", system-ui, sans-serif;
}
.calculation-section input[type="text"]::placeholder,
.calculation-section input[type="number"]::placeholder {
    color: rgba(186, 188, 190, 1);
}

/* button, a common style */
[class|='btn'] {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    height: 64px;
    padding: 0 50px;
    background-color: var(--point-color);
    border: unset;
    border-radius: 12px;
    font-size: 2.4rem;
    font-family: "GmarketSansBold", system-ui, sans-serif;
    color: var(--main-color);
    cursor: pointer;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
/* a tag */
[class|='btn'] > span {
    position: relative;
    top: 3px;
}

.calculation-section .btn-timecalc {
    position: relative;
    margin: 120px auto 142px;
}
.calculation-section .btn-timecalc br {
    display: none;
}
.calculation-section .btn-timecalc::after {
    content: '';
    position: absolute;
    top: 14px;
    right: -71px;
    display: block;
    width: 64px;
    height: 72px;
    background-image: url('../assets/click-m.png');
    background-size: cover;
    transition: all 0.2s;
}
.calculation-section .btn-timecalc:hover::after {
    transform: scale(1.1);
}

/* section3 - link-btn-section*/
.link-btn-section {
    margin-top: 120px;
}
.link-btn-section .link-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.link-btn-section .link-btn-box .btn-share {
    background-color: #fff;
    color: var(--main-color);
}

/* footer */
footer {
    text-align: center;
    margin-bottom: 106px;
}
footer > img {
    max-width: 168px;
}
.footer-desc {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.2;
}

/* modal */
.link-modal {
    display: none;
    max-width: 800px;
    width: 100%;
    max-height: 97vh;
    overflow-y: auto;
    padding: 80px 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    text-align: center;
}
.link-modal.on {
    display: block;
}
.link-modal p:first-child {
    line-height: 1.2;
    font-size: 9.6rem;
    font-weight: 500;
    color: var(--main-color);
}
.link-modal p:nth-child(2) {
    line-height: 1.2;
    font-size: 3.6rem;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 32px;
}
.link-modal img {
    vertical-align: bottom;
    margin-bottom: 60px;
}
.link-modal .btn-training {
    width: fit-content;
    margin: auto;
}
.link-modal .btn-training br {
    display: none;
}

@media screen and (max-width:992px) {
    /* modal */
    .link-modal {
        width: min(330px,calc(100vw - 15px));
        padding: 40px 45px;
        overflow-y: initial;
    }
    .link-modal p:first-child {
        font-size: 6.4rem;
    }
    .link-modal p:nth-child(2) {
        line-height: 1.2;
        font-size: 3.6rem;
        margin-bottom: 17px;
    }
    .heart-text { display: none; }
    .link-modal img {
        display: block;
        margin: 0 auto 24px;
    }
    .link-modal .btn-training {
        min-height: 72px;
        height: 72px;
        padding: 13px 24px;
        font-size: 1.4rem;
    }
    .link-modal .btn-training br {
        display: block;
    }
}
@media screen and (max-width:767px) {
    /* header */
    header {
        max-width: 100%;
        margin: 40px auto 0;
    }
    header .title-logo-box {
        max-width: 100%;
        aspect-ratio: 278 / 130;
        background-size: contain;
    }
    main {
        margin: 32px 0 60px 0;
    }
    section {
        max-width: 100%;
        padding: 0 15px;
    }

    /* section1 - about-section */
    .about-section .wise-saying {
        font-size: 2.2rem;
        margin-bottom: 32px;
    }
    .about-section .wise-desc-box {
        gap: 0;
    }
    .about-section .wise-desc-box .quote-icon-box {
        width: 20px;
        height: 18px;
    }
    .about-section .wise-desc-box p {
        font-size: 1.4rem;
    }
    .about-section .wise-desc-box .strong {
        font-size: 1.4rem;
    }

    /* section2 -calculation-section */
    .calculation-section {
        margin-top: 60px;
    }
    .calculation-section .flexstyle {
        gap: 12px;
    }
    .calculation-section .flex-depth {
        gap: 12px 8px;
        font-size: 1.4rem;
    }
    .calculation-section .my-job-result {
        flex-basis: 116px;
    }
    .calculation-section .flex-depth.mobile-type {
        flex-wrap: wrap;
    }
    .calculation-section .flex-depth.mobile-type span:first-child {
        flex-grow: 1;
        flex-basis: 100%;
    }
    .calculation-section .flex-depth.narrow {
        font-size: 1.2rem;
    }

    /* input */
    .calculation-section input[type="text"],
    .calculation-section input[type="number"] {
        width: 156px;
        height: 38px;
        line-height: 38px;
        font-size: 1.4rem;
        padding-top: 5px;
    }

    /* button, a common style */
    [class|='btn'] {
        min-height: 46px;
        height: 46px;
        font-size: 1.4rem;
        padding: 10px 24px;
    }
    /* a tag */
    [class|='btn'] > span {
        position: relative;
        top: 1.5px;
    }

    .calculation-section .btn-timecalc {
        height: 72px;
        line-height: inherit;
        margin: 80px auto 68px;
        padding: 0 38px;
    }
    .calculation-section .btn-timecalc br {
        display: block;
    }
    .calculation-section .btn-timecalc::after {
        top: 40px;
        right: -47px;
        width: 43px;
        height: 48px;
    }
    #time-result-box {
        gap: 16px;
    }
    .calculation-section .my-job-result,
    .calculation-section .my-time-result {
        font-size: 2.4rem;
    }

    /* section3 - link-btn-section */
    .link-btn-section {
        margin-top: 52px;
    }

    /* footer */
    footer {
        margin-bottom: 48px;
    }
    footer > img {
        max-width: 125px;
    }
    .footer-desc {
        font-size: 0.9rem;
        margin-top: 12px;
    }
}