@charset "utf-8";

:root {
    --main-color : rgba(91, 35, 134, 1);
    --point-color : rgba(245, 223, 77, 1);
}

body {
background-color: var(--main-color)
}

.ally-hidden {
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}


/* header */
header {
    max-width: 800px;
    margin: 120px auto 0;
}

header .title-logo-box {
    max-width: 594px;
    aspect-ratio: 594 / 265;
    margin: auto;
    background-image: url('../assets/section1-clock.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .title-logo-box img {
    max-width: 100%;
}

/* main section */
main {
    margin:52px 0 120px 0;
}

section {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: "GmarketSansMedium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", system-ui, sans-serif;
}

/* section1 */
.section1 .wise-saying {
    font-size: 3.6rem;
    margin-bottom: 80px;
    color: var(--point-color);
}

.section1 .wise-desc-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section1 .wise-desc-box img {
    max-width: 36px;
}

.section1 .wise-desc-box p {
    font-size: 1.8rem;
    color: #fff;
}

.section1 .wise-desc-box .strong {
    font-size: 2.4rem;
}

/* section2 */
.section2 {
    margin-top: 100px;
}

/* common layout style */
.section2 .flexstyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.section2 .flex-depth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 2.4rem;
    color: #fff;
}

.section2 .flex-depth.narrow {
    gap: 1.2rem;
}

.section2 .my-job-result,
.section2 .my-time-result {
    font-size: 7.2rem;
    line-height: 1;
}

/* input */
.section2 input[type="text"],
.section2 input[type="number"] {
    width: 228px;
    height: 56px;
    line-height: 56px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 2.4rem;
    text-align: center;
    padding-top: 6px;
    font-family: "GmarketSansMedium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", system-ui, sans-serif;
}

.section2 input[type="text"]::placeholder,
.section2 input[type="number"]::placeholder {
    color: rgba(186, 188, 190, 1);
}

/* button, a common style */
[class|='btn'] {
    padding: 14px 50px 14px 50px;
    background-color: var(--point-color);
    border: unset;
    border-radius: 12px;
    font-size: 2.4rem;
    color: var(--main-color);
    font-family: "GmarketSansBold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", system-ui, sans-serif;
    cursor: pointer;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.section2 .btn-timecalc {
    position: relative;
    margin: 120px 0 142px 0;
}

.section2 .btn-timecalc br {
    display: none;
}

.section2 .btn-timecalc::after {
    content: '';
    position: absolute;
    top: 14px;
    right: -71px;
    display: block;
    width: 64px;
    height: 72px;
    background-image: url('../assets/click-m.png');
    background-size: cover;
}

/* section3 */
.section3 {
    margin-top: 120px;
}
.section3 .link-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.section3 .link-btn-box .btn-share {
    display: inline-block;
    background-color: #fff;
    padding: 15px 50px 11px 50px;
    color: var(--main-color);
}

/* footer */
footer {
    text-align: center;
    margin-bottom: 106px;
}
footer > img {
    max-width: 168px;
}
.footer-desc {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 2rem;
}

/* modal */
.modal-section {
    display: none !important;
    max-width: 800px;
    width: 100%;
    aspect-ratio: 800 / 816;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-section p:first-child {
    line-height: 1.2;
    font-size: 9.6rem;
    font-weight: 500;
    color: var(--main-color);
}
.modal-section p:nth-child(2) {
    line-height: 1.2;
    font-size: 3.6rem;
    font-weight: 500;
    color: var(--main-color);
    margin-bottom: 4rem;
}
.modal-section img {
    vertical-align: bottom;
    margin-bottom: 6rem;
}
.modal-section .btn-training {
    display: inline-block;
}
.modal-section .btn-training br {
    display: none;
}

@media screen and (max-width:992px) {

    /* header */
    header {
        max-width: 100%;
        margin: 40px auto 0;
    }

    header .title-logo-box {
        aspect-ratio: 278 / 130;
        width: calc(100% - 82px);
        background-size: contain;
        max-width: 278px;
    }

    main {
        margin: 32px 0 60px 0;
    }

    section {
        max-width: 100%;
        padding: 0 15px;
    }

    /* section1 */
    .section1 .wise-saying {
        font-size: 2.2rem;
        margin-bottom: 3.2rem;
    }
    .section1 .wise-desc-box {
        gap: 0;
    }
    .section1 .wise-desc-box img {
        max-width: 20px;
    }
    .section1 .wise-desc-box p {
        font-size: 1.4rem;
    }
    .section1 .wise-desc-box .strong {
        font-size: 1.4rem;
    }

    /* section2 */
    .section2 {
        margin-top: 60px;
    }
    .section2 .flexstyle {
        gap: 1.2rem;
    }
    .section2 .flex-depth {
        gap: 1.2rem 0.8rem;
        font-size: 1.4rem;
    }
    .section2 .flex-depth.mobile-type {
        flex-wrap: wrap;
    }
    .section2 .flex-depth.mobile-type span:first-child {
        flex-grow: 1;
        flex-basis: 100%;
    }
    .section2 .flex-depth.narrow {
        font-size: 1.2rem;
    }

    /* input */
    .section2 input[type="text"],
    .section2 input[type="number"] {
        width: 156px;
        height: 38px;
        line-height: 38px;
        font-size: 1.4rem;
        padding-top: 5px;
    }

    /* button, a common style */
    [class|='btn'] {
        font-size: 1.4rem;
        padding: 14px 24px 12px 24px;
    }

    .section2 .btn-timecalc {
        margin: 80px 0 68px 0;
        padding: 22px 38px 17px 38px;
    }
    .section2 .btn-timecalc br {
        display: block;
    }
    .section2 .btn-timecalc::after {
        top: 40px;
        right: -47px;
        width: 43px;
        height: 48px;
    }

    #time-result-box {
        gap: 1.6rem;
    }
    .section2 .my-job-result,
    .section2 .my-time-result {
        font-size: 2.4rem;
    }

    /* section3 */
    .section3 {
        margin-top: 52px;
    }

    /* footer */
    footer {
        margin-bottom: 48px;
    }
    footer > img {
        max-width: 125px;
    }

    .footer-desc {
        font-size: 0.9rem;
        margin-top: 1.2rem;
    }

    /* modal */
    .modal-section {
        max-width: calc(100% - 30px);
        aspect-ratio: 330 / 500;
    }
    .modal-section p:first-child {
        font-size: 6.4rem;
    }
    .modal-section p:nth-child(2) {
        line-height: 1.2;
        font-size: 3.6rem;
        margin-bottom: 2.4rem;
    }
    .modal-section img {
        width: 100%;
        margin-bottom: 2.4rem;
    }
    .modal-section .btn-training br {
        display: block;
    }
}